# Aplicação
PORT=3000
NODE_ENV=development

# Banco de Dados - Desenvolvimento (container `sippat_postgres`)
DATABASE_URL="postgresql://sippat:sippat@localhost:5432/sippat_dev?schema=public"

# Banco de Dados - Testes (container `sippat_postgres_test`)
TEST_DATABASE_URL="postgresql://sippat:sippat@localhost:5433/sippat_test?schema=public"
